/* .titulo .remover {
    display: none;
} */

html {
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form .radio {
  display: flex;
  flex-direction: column;
}

.remover {
  display: none;
}

.btn-calc-nov {
  display: none;
}

.aparecer {
  display: block;
}